In [1]:
import pandas as pd
df=pd.read_csv("C:\\Users\\LENOVO\\Desktop\\sample_csv.csv")
df

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\LENOVO\\Desktop\\sample_csv.csv'

In [6]:
# df=pd.read_csv("C:\\Users\\LENOVO\\Desktop\\sample_csv.csv",skiprows=1)
# df=pd.read_csv("C:\\Users\\LENOVO\\Desktop\\sample_csv.csv",header=1)#header=None
# header1 really means row2 in csv file

df

     1/24/2015  38  23  52  30.03  10     8     0  5 Unnamed: 9  281
0   01-02-2016  36  18  46  30.02  10   7.0     0  3        NaN  275
1   01-03-2016  40  21  47  29.86  10   8.0     0  1        NaN  277
2   01-04-2016  25   9  44  30.05  10   9.0     0  3        NaN  345
3   01-05-2016  20  -3  41  30.57  10   5.0     0  0        NaN  333
4   01-06-2016  33   4  35  30.50  10   4.0     0  0        NaN  259
5   01-07-2016  39  11  33  30.28  10   2.0     0  3        NaN  293
6   01-08-2016  39  29  64  30.20  10   4.0     0  8        NaN   79
7   01-09-2016  44  38  77  30.16   9   8.0     T  8       Rain   76
8   01-10-2016  50  46  71  29.59   4   NaN   1.8  7       Rain  109
9   01-11-2016  33   8  37  29.92  10   NaN     0  1        NaN  289
10  01-12-2016  35  15  53  29.85  10   6.0     T  4        NaN  235
11   1/13/2016  26   4  42  29.94  10  10.0     0  0        NaN  284
12   1/14/2016  30  12  47  29.95  10   5.0     T  7        NaN  266
13   1/15/2016  43  31  62  29.82   9   5.0     T  2        NaN  101
14   1/16/2016  47  37  70  29.52   8   7.0  0.24  7       Rain  340
15   1/17/2016  36  23  66  29.78   8   6.0  0.05  6   Fog-Snow  345
16   1/18/2016  25   6  53  29.83   9  12.0     T  2       Snow  293
17   1/19/2016  22   3  42  30.03  10  11.0     0  1        NaN  293
18   1/20/2016  32  15  49  30.13  10   6.0     0  2        NaN  302
19   1/21/2016  31  11  45  30.15  10   6.0     0  1        NaN  312
20   1/22/2016  26   6  41  30.21   9   NaN  0.01  3       Snow   34
21   1/23/2016  26  21  78  29.77   1  16.0  2.31  8   Fog-Snow   42
22   1/24/2016  28  11  53  29.92   8   6.0     T  3       Snow  327
23   1/25/2016  34  18  54  30.25  10   3.0     0  2        NaN  286
24   1/26/2016  43  29  56  30.03  10   7.0     0  2        NaN  244
25   1/27/2016  41  22  45  30.03  10   7.0     T  3       Rain  311
26   1/28/2016  37  20  51  29.90  10   5.0     0  1        NaN  234
27   1/29/2016  36  21  50  29.58  10   8.0     0  4        NaN  298
28   1/30/2016  34  16  46  30.01  10   7.0     0  0        NaN  257
29   1/31/2016  46  28  52  29.90  10   5.0     0  0        NaN  241

In [10]:
# df=pd.read_csv("C:\\Users\\LENOVO\\Desktop\\sample_csv.csv",skiprows=1)
df=pd.read_csv("C:\\Users\\LENOVO\\Desktop\\sample_csv.csv",header=None,names=["a","b","c","d","e","a1","b1","c1","d1","e1","i"])
# header1 really means row2 in csv file

df

,a,b,c,d,e,a1,b1,c1,d1,e1,i
0,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
1,1/24/2015,38,23,52,30.03,10,8,0,5,NaN,281
2,01-02-2016,36,18,46,30.02,10,7,0,3,NaN,275
3,01-03-2016,40,21,47,29.86,10,8,0,1,NaN,277
4,01-04-2016,25,9,44,30.05,10,9,0,3,NaN,345
5,01-05-2016,20,-3,41,30.57,10,5,0,0,NaN,333
6,01-06-2016,33,4,35,30.5,10,4,0,0,NaN,259
7,01-07-2016,39,11,33,30.28,10,2,0,3,NaN,293
8,01-08-2016,39,29,64,30.2,10,4,0,8,NaN,79
9,01-09-2016,44,38,77,30.16,9,8,T,8,Rain,76
10,01-10-2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
11,01-11-2016,33,8,37,29.92,10,NaN,0,1,NaN,289
12,01-12-2016,35,15,53,29.85,10,6,T,4,NaN,235
13,1/13/2016,26,4,42,29.94,10,10,0,0,NaN,284
14,1/14/2016,30,12,47,29.95,10,5,T,7,NaN,266
15,1/15/2016,43,31,62,29.82,9,5,T,2,NaN,101
16,1/16/2016,47,37,70,29.52,8,7,0.24,7,Rain,340
17,1/17/2016,36,23,66,29.78,8,6,0.05,6,Fog-Snow,345
18,1/18/2016,25,6,53,29.83,9,12,T,2,Snow,293
19,1/19/2016,22,3,42,30.03,10,11,0,1,NaN,293
20,1/20/2016,32,15,49,30.13,10,6,0,2,NaN,302
21,1/21/2016,31,11,45,30.15,10,6,0,1,NaN,312
22,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
23,1/23/2016,26,21,78,29.77,1,16,2.31,8,Fog-Snow,42
24,1/24/2016,28,11,53,29.92,8,6,T,3,Snow,327
25,1/25/2016,34,18,54,30.25,10,3,0,2,NaN,286
26,1/26/2016,43,29,56,30.03,10,7,0,2,NaN,244
27,1/27/2016,41,22,45,30.03,10,7,T,3,Rain,311
28,1/28/2016,37,20,51,29.9,10,5,0,1,NaN,234
29,1/29/2016,36,21,50,29.58,10,8,0,4,NaN,298
30,1/30/2016,34,16,46,30.01,10,7,0,0,NaN,257
31,1/31/2016,46,28,52,29.9,10,5,0,0,NaN,241

In [11]:
df=pd.read_csv("C:\\Users\\LENOVO\\Desktop\\sample_csv.csv",nrows=3)
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/24/2015,38,23,52,30.03,10,8,0,5,NaN,281
1,01-02-2016,36,18,46,30.02,10,7,0,3,NaN,275
2,01-03-2016,40,21,47,29.86,10,8,0,1,NaN,277

In [18]:
df=pd.read_csv("C:\\Users\\LENOVO\\Desktop\\sample_csv.csv",na_values={'Events':["Snow","Rain"]})
                                                                       
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/24/2015,38,23,52,30.03,10,8.0,0,5,NaN,281
1,01-02-2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,01-03-2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,01-04-2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,01-05-2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,01-06-2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,01-07-2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,01-08-2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,01-09-2016,44,38,77,30.16,9,8.0,T,8,NaN,76
9,01-10-2016,50,46,71,29.59,4,NaN,1.8,7,NaN,109
10,01-11-2016,33,8,37,29.92,10,NaN,0,1,NaN,289
11,01-12-2016,35,15,53,29.85,10,6.0,T,4,NaN,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,NaN,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,NaN,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,NaN,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,NaN,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,NaN,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [16]:
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/24/2015,38,23,52,30.03,10,8.0,0,5,NaN,281
1,01-02-2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,01-03-2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,01-04-2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,01-05-2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,01-06-2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,01-07-2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,01-08-2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,01-09-2016,44,38,77,30.16,9,8.0,T,8,NaN,76
9,01-10-2016,50,46,71,29.59,4,NaN,1.8,7,NaN,109
10,01-11-2016,33,8,37,29.92,10,NaN,0,1,NaN,289
11,01-12-2016,35,15,53,29.85,10,6.0,T,4,NaN,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,NaN,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,NaN,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,NaN,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,NaN,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,NaN,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [21]:
#cpy samplt_csv.csv to new.csv
df.to_csv("C:\\Users\\LENOVO\\Desktop\\new.csv")

In [22]:
df.columns

Index(['EST', 'Temperature', 'DewPoint', 'Humidity', 'Sea Level PressureIn',
       'VisibilityMiles', 'WindSpeedMPH', 'PrecipitationIn', 'CloudCover',
       'Events', 'WindDirDegrees'],
      dtype='object')

In [25]:
# df.to_csv("C:\\Users\\LENOVO\\Desktop\\new.csv",columns=["EST"])
df.to_csv("C:\\Users\\LENOVO\\Desktop\\new1.csv",header=False)

In [26]:
import pandas as pd
df.to_excel("C:\\Users\\LENOVO\\Desktop\\new.xlsx")
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/24/2015,38,23,52,30.03,10,8.0,0,5,NaN,281
1,01-02-2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,01-03-2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,01-04-2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,01-05-2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,01-06-2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,01-07-2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,01-08-2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,01-09-2016,44,38,77,30.16,9,8.0,T,8,NaN,76
9,01-10-2016,50,46,71,29.59,4,NaN,1.8,7,NaN,109
10,01-11-2016,33,8,37,29.92,10,NaN,0,1,NaN,289
11,01-12-2016,35,15,53,29.85,10,6.0,T,4,NaN,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,NaN,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,NaN,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,NaN,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,NaN,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,NaN,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [35]:
import pandas as pd
def convert(ce):
    if ce=="T":
        return "Tem"
    return ce

        
df=pd.read_excel("C:\\Users\\LENOVO\\Desktop\\new.xlsx",converters={
    'PrecipitationIn':convert
                                                                       })
df

,Unnamed: 0,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,0,1/24/2015,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1,01-02-2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,2,01-03-2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,3,01-04-2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,4,01-05-2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,5,01-06-2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,6,01-07-2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,7,01-08-2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,8,01-09-2016,44,38,77,30.16,9,8.0,Tem,8,NaN,76
9,9,01-10-2016,50,46,71,29.59,4,NaN,1.8,7,NaN,109
10,10,01-11-2016,33,8,37,29.92,10,NaN,0,1,NaN,289
11,11,01-12-2016,35,15,53,29.85,10,6.0,Tem,4,NaN,235
12,12,1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
13,13,1/14/2016,30,12,47,29.95,10,5.0,Tem,7,NaN,266
14,14,1/15/2016,43,31,62,29.82,9,5.0,Tem,2,NaN,101
15,15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,NaN,340
16,16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,17,1/18/2016,25,6,53,29.83,9,12.0,Tem,2,NaN,293
18,18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
19,19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
20,20,1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
21,21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,NaN,34
22,22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,23,1/24/2016,28,11,53,29.92,8,6.0,Tem,3,NaN,327
24,24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
25,25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,26,1/27/2016,41,22,45,30.03,10,7.0,Tem,3,NaN,311
27,27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241